@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 0 0% 0%;

        --primary: 328 80% 47%;
        --secondary: 220 31% 33%;

        --muted: 0 0% 42%;
    }
}
